<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->



<li>
  <a href="http://inspirehep.net/author/profile/B.C.Seymour.1" itemprop="sameAs">
    <i class="ai ai-inspire-square ai-fw"></i> Inspire
  </a>
</li>

<li>
  <a href="https://scholar.google.com/citations?user=QXtaxKIAAAAJ" itemprop="sameAs">
    <i class="ai ai-google-scholar-square ai-fw"></i> Google Scholar
  </a>
</li>

<li>
  <a href="http://arxiv.org/a/seymour_b_1" itemprop="sameAs">
    <i class="ai ai-arxiv-square ai-fw"></i> arXiv
  </a>
</li>

<li>
  <a href="https://orcid.org/0000-0002-7865-1052" itemprop="sameAs">
    <i class="ai ai-orcid-square ai-fw"></i> ORCID
  </a>
</li>

<li>
  <a href="https://www.researchgate.net/profile/Brian_Seymour5" itemprop="sameAs">
    <i class="ai ai-researchgate ai-fw"></i> ORCID
  </a>
</li>



<!-- <li>
  <a href="https://www.researchgate.net/profile/Jon_Brate" itemprop="sameAs">
    <i class="ai ai-researchgate-square ai-fw"></i> ResearchGate
  </a>
</li> -->
